Soan Yvan.json
[
    {
        "id": "e3761b4cc4032c4a",
        "type": "tab",
        "label": "Projekt Proto2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3bebbfd68e9eb2dc",
        "type": "discordMessage",
        "z": "e3761b4cc4032c4a",
        "name": "",
        "channelIdFilter": "1461464194149777440",
        "token": "",
        "x": 100,
        "y": 500,
        "wires": [
            [
                "071458c408102397"
            ]
        ]
    },
    {
        "id": "071458c408102397",
        "type": "switch",
        "z": "e3761b4cc4032c4a",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "pioche",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "torche",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "viande",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "potion de soin",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 320,
        "y": 500,
        "wires": [
            [
                "081495fd6832692f"
            ],
            [
                "3c48bde5c490ca28"
            ],
            [
                "f956cdb13da2f18e"
            ],
            [
                "c3658b5a8c8245f9"
            ]
        ]
    },
    {
        "id": "081495fd6832692f",
        "type": "change",
        "z": "e3761b4cc4032c4a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "/give Yvan123 diamond_pickaxe 1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 460,
        "wires": [
            [
                "c8e9f7acac818fbb",
                "92d5b414463a4f1d"
            ]
        ]
    },
    {
        "id": "3c48bde5c490ca28",
        "type": "change",
        "z": "e3761b4cc4032c4a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "/give Yvan123 torch 128",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 520,
        "wires": [
            [
                "c8e9f7acac818fbb",
                "92d5b414463a4f1d"
            ]
        ]
    },
    {
        "id": "c8e9f7acac818fbb",
        "type": "discordMessageManager",
        "z": "e3761b4cc4032c4a",
        "name": "",
        "channel": "1461464194149777440",
        "token": "",
        "x": 1080,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "f956cdb13da2f18e",
        "type": "change",
        "z": "e3761b4cc4032c4a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "/give Yvan123 cooked_beef 128",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 580,
        "wires": [
            [
                "c8e9f7acac818fbb",
                "92d5b414463a4f1d"
            ]
        ]
    },
    {
        "id": "c3658b5a8c8245f9",
        "type": "change",
        "z": "e3761b4cc4032c4a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "/effect give @a minecraft:regeneration 30 2",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 640,
        "wires": [
            [
                "c8e9f7acac818fbb",
                "92d5b414463a4f1d"
            ]
        ]
    },
    {
        "id": "92d5b414463a4f1d",
        "type": "rcon",
        "z": "e3761b4cc4032c4a",
        "name": "",
        "server": "ab7e46373ae5f2a0",
        "command": "",
        "x": 1070,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "d416af3580273e25",
        "type": "discordMessage",
        "z": "e3761b4cc4032c4a",
        "name": "",
        "channelIdFilter": "1461464194149777440",
        "token": "",
        "x": 100,
        "y": 940,
        "wires": [
            [
                "120e94d159241548"
            ]
        ]
    },
    {
        "id": "120e94d159241548",
        "type": "switch",
        "z": "e3761b4cc4032c4a",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "aktiv player",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 320,
        "y": 940,
        "wires": [
            [
                "e86831001b0209b7"
            ]
        ]
    },
    {
        "id": "e86831001b0209b7",
        "type": "change",
        "z": "e3761b4cc4032c4a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "/list",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 940,
        "wires": [
            [
                "e45df8d7cd2776a8"
            ]
        ]
    },
    {
        "id": "e45df8d7cd2776a8",
        "type": "rcon",
        "z": "e3761b4cc4032c4a",
        "name": "",
        "server": "ab7e46373ae5f2a0",
        "command": "",
        "x": 770,
        "y": 940,
        "wires": [
            [
                "f518087ce86bbe6b"
            ]
        ]
    },
    {
        "id": "f518087ce86bbe6b",
        "type": "function",
        "z": "e3761b4cc4032c4a",
        "name": "function 1",
        "func": "\nlet joueurs = msg.payload;\n\nif (Array.isArray(joueurs)) {\n  msg.payload = \"Joueurs en ligne :\\n- \" + joueurs.join(\"\\n- \");\n} else {\n  msg.payload = JSON.stringify(joueurs, null, 2);\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 940,
        "wires": [
            [
                "62907dca6fb6a4b8",
                "f667bb906854995b",
                "cfeb6199dce0010a"
            ]
        ]
    },
    {
        "id": "62907dca6fb6a4b8",
        "type": "discordMessageManager",
        "z": "e3761b4cc4032c4a",
        "name": "",
        "channel": "1461464194149777440",
        "token": "",
        "x": 1240,
        "y": 980,
        "wires": [
            []
        ]
    },
    {
        "id": "f667bb906854995b",
        "type": "ui-text",
        "z": "e3761b4cc4032c4a",
        "group": "61dbf010fc89e9d3",
        "order": 1,
        "width": "",
        "height": "",
        "name": "Affichage Joueurs",
        "label": "Joueurs en ligne :",
        "format": "{{msg.payload}}",
        "layout": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1190,
        "y": 1060,
        "wires": []
    },
    {
        "id": "51d4ca350a9069e1",
        "type": "inject",
        "z": "e3761b4cc4032c4a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 1000,
        "wires": [
            [
                "e86831001b0209b7"
            ]
        ]
    },
    {
        "id": "2fc3f71017369987",
        "type": "rpi-gpio in",
        "z": "e3761b4cc4032c4a",
        "name": "",
        "pin": "20",
        "intype": "tri",
        "debounce": "25",
        "read": false,
        "bcm": true,
        "x": 90,
        "y": 1180,
        "wires": [
            [
                "a6dbd5f4b955b8fc"
            ]
        ]
    },
    {
        "id": "a6dbd5f4b955b8fc",
        "type": "switch",
        "z": "e3761b4cc4032c4a",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 280,
        "y": 1180,
        "wires": [
            [
                "362c56abafbd5715"
            ],
            [
                "70f42919a1a532e2"
            ]
        ]
    },
    {
        "id": "70f42919a1a532e2",
        "type": "change",
        "z": "e3761b4cc4032c4a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "/time set night",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 1260,
        "wires": [
            [
                "4b32571bad7a6967",
                "fa11f5f1b1fb8000"
            ]
        ]
    },
    {
        "id": "362c56abafbd5715",
        "type": "change",
        "z": "e3761b4cc4032c4a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "/time set day",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 1100,
        "wires": [
            [
                "4b32571bad7a6967",
                "c1c90b30a32b3809"
            ]
        ]
    },
    {
        "id": "4b32571bad7a6967",
        "type": "rcon",
        "z": "e3761b4cc4032c4a",
        "name": "",
        "server": "ab7e46373ae5f2a0",
        "command": "",
        "x": 830,
        "y": 1180,
        "wires": [
            []
        ]
    },
    {
        "id": "fa11f5f1b1fb8000",
        "type": "function",
        "z": "e3761b4cc4032c4a",
        "name": "function 2",
        "func": "msg.payload = {\n    line1: \"Dans le monde\",\n    line2: \"Il fait nuit\"\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 1300,
        "wires": [
            [
                "d2c6521e02f5d491"
            ]
        ]
    },
    {
        "id": "c1c90b30a32b3809",
        "type": "function",
        "z": "e3761b4cc4032c4a",
        "name": "function 3",
        "func": "\nmsg.payload = {\n    line1: \"Dans le monde\",\n    line2: \"Il fait jour\"\n};\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 1060,
        "wires": [
            [
                "d2e45402e069595d"
            ]
        ]
    },
    {
        "id": "d2c6521e02f5d491",
        "type": "raspi5-lcd-16x2",
        "z": "e3761b4cc4032c4a",
        "name": "",
        "bus": 1,
        "address": "0x38",
        "lcdOn": true,
        "x": 900,
        "y": 1260,
        "wires": []
    },
    {
        "id": "d2e45402e069595d",
        "type": "raspi5-lcd-16x2",
        "z": "e3761b4cc4032c4a",
        "name": "",
        "bus": 1,
        "address": "0x38",
        "lcdOn": true,
        "x": 900,
        "y": 1100,
        "wires": []
    },
    {
        "id": "cfeb6199dce0010a",
        "type": "raspi5-lcd-16x2",
        "z": "e3761b4cc4032c4a",
        "name": "",
        "bus": 1,
        "address": "0x38",
        "lcdOn": true,
        "x": 1200,
        "y": 900,
        "wires": []
    },
    {
        "id": "12a7ab2e0568186e",
        "type": "rpi-gpio in",
        "z": "e3761b4cc4032c4a",
        "name": "",
        "pin": "16",
        "intype": "tri",
        "debounce": "25",
        "read": false,
        "bcm": true,
        "x": 90,
        "y": 1700,
        "wires": [
            [
                "ab7025a372f35ca4"
            ]
        ]
    },
    {
        "id": "32d14a5bec888ceb",
        "type": "change",
        "z": "e3761b4cc4032c4a",
        "name": "Sword",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "/give Yvan123 diamond_sword",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 1560,
        "wires": [
            [
                "52d0d3896ca9b3d3"
            ]
        ]
    },
    {
        "id": "52d0d3896ca9b3d3",
        "type": "rcon",
        "z": "e3761b4cc4032c4a",
        "name": "",
        "server": "ab7e46373ae5f2a0",
        "command": "",
        "x": 1030,
        "y": 1700,
        "wires": [
            []
        ]
    },
    {
        "id": "7cc8573e44fe53ba",
        "type": "change",
        "z": "e3761b4cc4032c4a",
        "name": "Bow",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "/give Yvan123 bow",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 1600,
        "wires": [
            [
                "52d0d3896ca9b3d3"
            ]
        ]
    },
    {
        "id": "e7d16baf5aad355e",
        "type": "change",
        "z": "e3761b4cc4032c4a",
        "name": "diamond_Helmet",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "/give Yvan123 diamond_helmet",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 1640,
        "wires": [
            [
                "52d0d3896ca9b3d3"
            ]
        ]
    },
    {
        "id": "6474bca1bc39c9e1",
        "type": "switch",
        "z": "e3761b4cc4032c4a",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "creative",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "survie",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 540,
        "y": 100,
        "wires": [
            [
                "e92e244784da1e5f"
            ],
            [
                "b0196d94beacc581"
            ]
        ]
    },
    {
        "id": "e92e244784da1e5f",
        "type": "change",
        "z": "e3761b4cc4032c4a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "/gamemode creative @a",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 60,
        "wires": [
            [
                "ae3753ad43ac4701",
                "30c5cdf53260729b"
            ]
        ]
    },
    {
        "id": "b0196d94beacc581",
        "type": "change",
        "z": "e3761b4cc4032c4a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "/gamemode survival @p",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 140,
        "wires": [
            [
                "ae3753ad43ac4701",
                "30c5cdf53260729b"
            ]
        ]
    },
    {
        "id": "7a94d11a2e5c1dcb",
        "type": "discordMessage",
        "z": "e3761b4cc4032c4a",
        "name": "",
        "channelIdFilter": "1461464194149777440",
        "token": "",
        "x": 100,
        "y": 320,
        "wires": [
            [
                "2ba1acb2c017d52b"
            ]
        ]
    },
    {
        "id": "2ba1acb2c017d52b",
        "type": "switch",
        "z": "e3761b4cc4032c4a",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "day",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "night",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 340,
        "y": 320,
        "wires": [
            [
                "59ed6c8cbbebf6db"
            ],
            [
                "9efe4451d521f297"
            ]
        ]
    },
    {
        "id": "59ed6c8cbbebf6db",
        "type": "change",
        "z": "e3761b4cc4032c4a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "/time set day",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 260,
        "wires": [
            [
                "e9a123d514521543",
                "466e0261c99405ae"
            ]
        ]
    },
    {
        "id": "9efe4451d521f297",
        "type": "change",
        "z": "e3761b4cc4032c4a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "/time set night",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 380,
        "wires": [
            [
                "e9a123d514521543",
                "466e0261c99405ae"
            ]
        ]
    },
    {
        "id": "e9a123d514521543",
        "type": "discordMessageManager",
        "z": "e3761b4cc4032c4a",
        "name": "",
        "channel": "1461464194149777440",
        "token": "",
        "x": 1140,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "ae3753ad43ac4701",
        "type": "rcon",
        "z": "e3761b4cc4032c4a",
        "name": "",
        "server": "ab7e46373ae5f2a0",
        "command": "",
        "x": 1170,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "466e0261c99405ae",
        "type": "rcon",
        "z": "e3761b4cc4032c4a",
        "name": "",
        "server": "ab7e46373ae5f2a0",
        "command": "",
        "x": 1070,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "c73f5ed5400d5559",
        "type": "ui-button",
        "z": "e3761b4cc4032c4a",
        "group": "ui-group-controls",
        "name": "Bouton Créatif",
        "label": "Mode Créatif",
        "order": 2,
        "width": "",
        "height": "",
        "emulateClick": false,
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "creative",
        "payloadType": "str",
        "topic": "gamemode",
        "topicType": "str",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 360,
        "y": 40,
        "wires": [
            [
                "e92e244784da1e5f"
            ]
        ]
    },
    {
        "id": "f27739159c4068b1",
        "type": "ui-button",
        "z": "e3761b4cc4032c4a",
        "group": "ui-group-controls",
        "name": "Bouton Survie",
        "label": "Mode Survie",
        "order": 3,
        "width": "",
        "height": "",
        "emulateClick": false,
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "survie",
        "payloadType": "str",
        "topic": "gamemode",
        "topicType": "str",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 360,
        "y": 160,
        "wires": [
            [
                "b0196d94beacc581"
            ]
        ]
    },
    {
        "id": "fd9975020d8b5554",
        "type": "ui-switch",
        "z": "e3761b4cc4032c4a",
        "name": "Contrôle Jour / Nuit",
        "label": "Temps (Jour / Nuit)",
        "group": "ui-group-controls",
        "order": 1,
        "width": "",
        "height": "",
        "passthru": false,
        "decouple": false,
        "topic": "time",
        "topicType": "str",
        "className": "",
        "layout": "",
        "clickableArea": "switch",
        "onvalue": "1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 190,
        "y": 220,
        "wires": [
            [
                "609b2bf3284ce65e"
            ]
        ]
    },
    {
        "id": "609b2bf3284ce65e",
        "type": "switch",
        "z": "e3761b4cc4032c4a",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 420,
        "y": 240,
        "wires": [
            [
                "59ed6c8cbbebf6db"
            ],
            [
                "9efe4451d521f297"
            ]
        ]
    },
    {
        "id": "2c9c64c35ee190a9",
        "type": "discordMessage",
        "z": "e3761b4cc4032c4a",
        "name": "",
        "channelIdFilter": "1461464194149777440",
        "token": "",
        "x": 120,
        "y": 100,
        "wires": [
            [
                "6474bca1bc39c9e1"
            ]
        ]
    },
    {
        "id": "30c5cdf53260729b",
        "type": "discordMessageManager",
        "z": "e3761b4cc4032c4a",
        "name": "",
        "channel": "1461464194149777440",
        "token": "",
        "x": 1280,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "841ab6df9614bd94",
        "type": "change",
        "z": "e3761b4cc4032c4a",
        "name": "diamond_Chestplate",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "/give Yvan123 diamond_chestplate",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 1680,
        "wires": [
            [
                "52d0d3896ca9b3d3"
            ]
        ]
    },
    {
        "id": "60209129d2a6bff6",
        "type": "change",
        "z": "e3761b4cc4032c4a",
        "name": "diamond_leggings",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "/give Yvan123 diamond_leggings",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 1720,
        "wires": [
            [
                "52d0d3896ca9b3d3"
            ]
        ]
    },
    {
        "id": "26b3c80f21501017",
        "type": "change",
        "z": "e3761b4cc4032c4a",
        "name": "diamond_boots",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "/give Yvan123 diamond_boots",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 1760,
        "wires": [
            [
                "52d0d3896ca9b3d3"
            ]
        ]
    },
    {
        "id": "2ed8a9f17de1e878",
        "type": "change",
        "z": "e3761b4cc4032c4a",
        "name": "goldenapple",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "/give Yvan123 golden_apple 128",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 1800,
        "wires": [
            [
                "52d0d3896ca9b3d3"
            ]
        ]
    },
    {
        "id": "8d0592b6f75ae986",
        "type": "change",
        "z": "e3761b4cc4032c4a",
        "name": "shield",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "/give Yvan123 shield{Enchantments:[{id:\"minecraft:unbreaking\",lvl:3},{id:\"minecraft:mending\",lvl:1}]} 1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 1840,
        "wires": [
            [
                "52d0d3896ca9b3d3"
            ]
        ]
    },
    {
        "id": "679fdd0ab99bc4db",
        "type": "change",
        "z": "e3761b4cc4032c4a",
        "name": "arrows",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "/give Yvan123 arrow 128",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 1880,
        "wires": [
            [
                "52d0d3896ca9b3d3"
            ]
        ]
    },
    {
        "id": "42aa95124394816f",
        "type": "rpi-gpio in",
        "z": "e3761b4cc4032c4a",
        "name": "",
        "pin": "19",
        "intype": "tri",
        "debounce": "25",
        "read": false,
        "bcm": true,
        "x": 90,
        "y": 1960,
        "wires": [
            [
                "19d96af1f03d2462"
            ]
        ]
    },
    {
        "id": "d8eafded0c2dba9c",
        "type": "change",
        "z": "e3761b4cc4032c4a",
        "name": "Wither",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "/execute at Yvan123 run summon wither ^ ^ ^5",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 1960,
        "wires": [
            [
                "edc476d277dd6275",
                "8f70989727d99a4c"
            ]
        ]
    },
    {
        "id": "edc476d277dd6275",
        "type": "rcon",
        "z": "e3761b4cc4032c4a",
        "name": "",
        "server": "ab7e46373ae5f2a0",
        "command": "",
        "x": 870,
        "y": 1960,
        "wires": [
            []
        ]
    },
    {
        "id": "8f70989727d99a4c",
        "type": "function",
        "z": "e3761b4cc4032c4a",
        "name": "function 4",
        "func": "\nmsg.payload = {\n    line1: \"Wither a spawn\",\n};\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 2020,
        "wires": [
            [
                "7d84bc551fd4323e"
            ]
        ]
    },
    {
        "id": "7d84bc551fd4323e",
        "type": "raspi5-lcd-16x2",
        "z": "e3761b4cc4032c4a",
        "name": "",
        "bus": 1,
        "address": "0x38",
        "lcdOn": true,
        "x": 880,
        "y": 2020,
        "wires": []
    },
    {
        "id": "2d4fa6e924645982",
        "type": "rpi-gpio in",
        "z": "e3761b4cc4032c4a",
        "name": "",
        "pin": "21",
        "intype": "tri",
        "debounce": "25",
        "read": false,
        "bcm": true,
        "x": 110,
        "y": 620,
        "wires": [
            [
                "746a61d6c39cabeb"
            ]
        ]
    },
    {
        "id": "746a61d6c39cabeb",
        "type": "switch",
        "z": "e3761b4cc4032c4a",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 320,
        "y": 620,
        "wires": [
            [
                "c3658b5a8c8245f9",
                "f956cdb13da2f18e",
                "3c48bde5c490ca28",
                "081495fd6832692f"
            ],
            []
        ]
    },
    {
        "id": "ab7025a372f35ca4",
        "type": "switch",
        "z": "e3761b4cc4032c4a",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 260,
        "y": 1700,
        "wires": [
            [
                "32d14a5bec888ceb",
                "7cc8573e44fe53ba",
                "e7d16baf5aad355e",
                "841ab6df9614bd94",
                "60209129d2a6bff6",
                "2ed8a9f17de1e878",
                "8d0592b6f75ae986",
                "679fdd0ab99bc4db"
            ],
            []
        ]
    },
    {
        "id": "19d96af1f03d2462",
        "type": "switch",
        "z": "e3761b4cc4032c4a",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 260,
        "y": 1960,
        "wires": [
            [
                "d8eafded0c2dba9c"
            ],
            []
        ]
    },
    {
        "id": "ab7e46373ae5f2a0",
        "type": "serverconfig",
        "host": "gomyv748",
        "rconPort": 25575,
        "rconPassword": "change_me"
    },
    {
        "id": "61dbf010fc89e9d3",
        "type": "ui-group",
        "name": "Joueurs en ligne",
        "page": "ui-page-1",
        "width": 6,
        "height": 1,
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "ui-group-controls",
        "type": "ui-group",
        "name": "Commandes du Monde",
        "page": "ui-page-1",
        "width": "6",
        "height": "1",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "ui-page-1",
        "type": "ui-page",
        "name": "Serveur Minecraft",
        "ui": "ui-base-1",
        "path": "/minecraft",
        "icon": "home",
        "layout": "grid",
        "theme": "",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "ui-base-1",
        "type": "ui-base",
        "name": "Minecraft Controller Base",
        "path": "/dashboard",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-control",
            "ui-notification"
        ]
    },
    {
        "id": "651ca6a099ed1776",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-discord-updated": "4.1.0",
            "@tomsith/node-red-contrib-minecraft": "0.7.7",
            "@flowfuse/node-red-dashboard": "1.30.2",
            "node-red-node-pi-gpio": "2.0.6",
            "node-red-contrib-raspi5-lcd-16x2": "0.1.1"
        }
    }
]